{% extends 'body.html' %}

{% block content %}
<main>
    <h1>stuff I had written.</h1>
    {% if posts_links %}
    <ul>
        {% for post in posts_links %}
        {% if post.2 %}
        <li>{{post.0}} - STATUS: {{post.2}}</li>
        {% else %}
        <li><a href="{{post.1}}">{{post.0}}</a></li>
        {% endif %}
        {% endfor %}
    </ul>
    {% else %}
    <div class="nothing-here">
        <h3>there is nothing here. (yet).</h3>
    </div>
    {% endif %}
</main>
{% endblock content %}